artifacts_root: artifacts


data_ingestion:
  root_dir: artifacts/data_ingestion
  source_URL: https://github.com/FraidoonOmarzai/data/raw/main/liver.zip
  local_data_file: artifacts/data_ingestion/liver.zip
  unzip_dir: artifacts/data_ingestion



data_validation:
  root_dir: artifacts/data_validation
  unzip_dir: artifacts/data_ingestion/liver.csv
  status: artifacts/data_validation/status.txt

